*{
	margin: 0px;
	padding: 0px;
}

body{
	animation: fadein 2.1s;
	min-height: 100vh;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	animation: Gradient 15s ease infinite;
}

@keyframes Gradient {
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}

.background{
	position: absolute;
	width: 100%;
	display: none;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.header{
	text-align: center;
	padding-top: 1%;
}

h2{
	font-weight: 800;
	-webkit-text-stroke: 1.5px black;
	color: white;
}

